a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
    min-height: 67.8px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #888888;
    background-color: #00008B;
}

.nav-item {
    color: #fff !important;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
